<a href="https://colab.research.google.com/github/ramdarsh/Excelr_assignments/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1 CUTLETS**

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df=pd.read_csv('/content/Cutlets.csv')

In [3]:
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [38]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [37]:
df.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

In [4]:
stats.shapiro(df['Unit A'])

ShapiroResult(statistic=0.9649459719657898, pvalue=0.31998491287231445)

In [5]:
stats.shapiro(df['Unit B'])

ShapiroResult(statistic=0.9727305769920349, pvalue=0.5225146412849426)

In [6]:
stats.ttest_rel(df['Unit A'], df['Unit B'])

TtestResult(statistic=0.7536787225614316, pvalue=0.4562300768038412, df=34)

**Q2 LabTAT**

In [7]:
df1=pd.read_csv('/content/LabTAT.csv')

In [31]:
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [30]:
df1.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [32]:
df1.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [34]:
df1[df1.duplicated()].shape

(0, 4)

In [35]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [Laboratory 1, Laboratory 2, Laboratory 3, Laboratory 4]
Index: []

In [9]:
stats.shapiro(df1['Laboratory 1'])

ShapiroResult(statistic=0.990183413028717, pvalue=0.5507769584655762)

In [10]:
stats.shapiro(df1['Laboratory 2'])

ShapiroResult(statistic=0.9936320185661316, pvalue=0.8637352585792542)

In [11]:
stats.shapiro(df1['Laboratory 3'])

ShapiroResult(statistic=0.988633930683136, pvalue=0.42045730352401733)

In [12]:
stats.shapiro(df1['Laboratory 4'])

ShapiroResult(statistic=0.9913760423660278, pvalue=0.6619619131088257)

In [14]:
stats.levene(df1["Laboratory 1"], df1["Laboratory 2"], df1["Laboratory 3"], df1["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [15]:
stats.stats.f_oneway(df1["Laboratory 1"], df1["Laboratory 2"], df1["Laboratory 3"], df1["Laboratory 4"])

<ipython-input-15-efe90cc8ed4a>:1: DeprecationWarning: Please use `f_oneway` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  stats.stats.f_oneway(df1["Laboratory 1"], df1["Laboratory 2"], df1["Laboratory 3"], df1["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

**Q3 Buyer ratio**

In [16]:
df2 = pd.read_csv('/content/BuyerRatio.csv')

In [24]:
df2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [23]:
df2.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [26]:
df2.isnull().sum()

Observed Values    0
East               0
West               0
North              0
South              0
dtype: int64

In [19]:
stats.chi2_contingency([df2["East"], df2["West"], df2["North"], df2["South"]])

Chi2ContingencyResult(statistic=1.5959455386610577, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  442.23468701],
       [ 146.81287862, 1518.18712138],
       [ 131.11756787, 1355.88243213],
       [  72.30424052,  747.69575948]]))

**Q4 Customer form**

In [20]:
df3=pd.read_csv('/content/Costomer+OrderForm.csv')

In [21]:
df3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [29]:
df3.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [27]:
df3.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [22]:
stats.chi2_contingency([df3['Phillippines'].value_counts(), df3['Indonesia'].value_counts(), df3['Malta'].value_counts(), df3['India'].value_counts()])

Chi2ContingencyResult(statistic=3.8589606858203545, pvalue=0.2771020991233144, dof=3, expected_freq=array([[271.75,  28.25],
       [271.75,  28.25],
       [271.75,  28.25],
       [271.75,  28.25]]))

thus H0 accepted